@charset "UTF-8";

h1 {
    font-size: 2.5rem;  /* fz2.5rem */
    color: #25a9bd;
}

section {
    padding: 10px;  /* p10 */
    border: 5px solid orange;    /* bd5 */
}

/* :first-of-type - 가장 처음 요소를 선택 */
section:first-of-type {
    color: #bc1212;
}

/* :last-of-type - 가장 마지막 요소를 선택 */
/* ::first-letter - 첫 글자를 선택 */
section:last-of-type::first-letter {
    font-size: 2.4em;   /* fz2.4 */
    float: left;    /* fl */
    padding: 0.2px; /* p0.2px */
    margin: -1px 3px 0 0;
    font-weight: bold;
    color: #f00;
}

section em {
    display: block;
    text-align: center; /* tac */
    padding: 15px;  /* p15 */
    position: relative;
    font-style: normal;     /* fsn */
    font-weight: normal;    /* fwn */
}

/* :before
    요소가 시작되기 전 */
section em::before {
    content: "\"";
    padding-right: 0.5em;   /* pr0.5em */
    color: red;
    font-weight: bold;  /* fwb */
}

/* :after
    요소가 끝난 다음 */
section em::after {
    content: "\"";
    padding-left: 0.5em;    /* pl0.5 */
}

form label {
    width: 100px;
    display: inline-block;  /* dib */
}

form input {
    height: 1.8em;  /* h1.8 */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2px 5px;   /* p2-5 */
    outline: none;
}

/* :enabled
    활성화된 태그를 선택 */
input:enabled {
    background-color: #beffff;
}

/* :focus
    커서로 지정된 태그를 선택 */
input:focus {
    background-color: #82f9b7;
}

/* :disabled
    비활성화된 태그를 선택 */
input:disabled {
    background-color: #c9c9c9;
}