.container {
    position: relative; /* psr */
    width: 1024px;  /* w1024 */
    border: 5px dashed orange;
    margin: auto;
}

.item {
    border: 2px solid #ddd;
    height: 330px;  /* h330 */
}

img.left { float: left;     /* fl */ }
img.right { float: right;   /* flr */ }